.mainDiv
{
    height:625px;
    width:100%px;
    background:white;
    
}
.innerDiv
{
    height:50%;
    width:60%;
    margin:0% 0% 0% 25%%;
    float:left;
    background:white;
}
#displayTable
{
    height:50%;
    width:60%;
    margin:10% 0% 0% 20%;
    text-align:center;
}
