
.buttondiv
{
width:50%;
height:35px;
background:white;
padding:10px 10px 10px 10px;
float:left;
}
.button {
  border: 2px solid grey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:5px 0px 0px 5px;
}
.span
{
  border:1px solid grey;  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin:1px 0px 0px -7px;
 
}
.button1 {
  border: 2px solid grey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:0px 5px 5px 0px;
  margin:0px 0px 0px -7px;
}

