.outerDiv{
    width:100%;
    height:700px;
    background:white;
}
.headerDiv{
    width:100%;
    height:20%;
    background:white;
}
#head{
    text-align: center;
}
#para{
    text-align: center;
}
.leftDiv{
    width:45%;
    height:400px%;
    background:white;
    text-align:justify;
    margin: 0% 0% 0% 10%;
    float:left;
}
.rightDiv{
    width:50%;
    height:400px%;
    background:white;
    float:right;
}
#para1{
    margin:10% 0% 0% 10%;
}
#nm
{
    width:30%;
}
#msg
{
    width:58%;
}
#btn{
    background:black;
    color:white;
    margin-left: 55%;
}